.post {
   color: red;   
}

.chat {
   width: 230px;
   height: 160px;
   border: 1px solid black;

}

.logo {
   width: 230px;
   height: 360px;
   border: 1px solid black;
}

.image {
   width: auto;
   height: auto;
}