.post {
   color: red;   
}

.attendees {
   width: 210px;
   height: 140px;
   border: 1px solid black;
}

.chat {
   width: 210px;
   height: 160px;
   border: 1px solid black;

}

.log {
   width: 210px;
   height: 260px;
   border: 1px solid black;
}

.img-name {
   background-color: #ABACAE;
   width: auto;
   height: 25px;
}
